{# templates/home/registration.html.twig #}
<h1>Experimentální stránka, chete se registrovat?</h1>

<a href="{{ path('registrationPage') }}">Reistration here</a><br>
<a href="{{ path('listUsers') }}">Who is registered?</a>
